################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Sample/x64/Release
/Sample/x64/Debug
/Sample/x64
/Sample/Sample.sln
/Sample/Sample/x64
/Sample/Sample/Sample.vcxproj.filters
/Sample/Sample/Sample.vcxproj
/Sample/Sample/Debug
/Sample/Sample
/Sample/PriorityBooster/x64
/Sample/PriorityBooster/PriorityBooster.vcxproj.filters
/Sample/PriorityBooster/PriorityBooster.vcxproj
/Sample/PriorityBooster
/Sample/Debug
/Sample/Booster/x64
/Sample/Booster/Booster.vcxproj.user
/Sample/Booster/Booster.vcxproj.filters
/Sample/Booster/Booster.vcxproj
/Sample/Booster
/Sample/.vs/Sample/v16/Solution.VC.db-wal
/Sample/.vs/Sample/v16/Solution.VC.db-shm
/Sample/.vs/Sample/v16/Solution.VC.db
/Sample/.vs/Sample/v16/ipch/AutoPCH
/Sample/.vs/Sample/v16/Browse.VC.opendb
/Sample/.vs/Sample/v16/Browse.VC.db-wal
/Sample/.vs/Sample/v16/Browse.VC.db-shm
/Sample/.vs/Sample/v16/Browse.VC.db
/Sample/.vs/Sample/v16/.suo
/Sample/.vs/Sample/v16
/Sample
